{% extends "main.html" %}
{% block body %}
    <html>
    <body>
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
{#            {{ form.username.errors }}#}
{#            <p>#}
{#            <label for="{{ form.username.id_for_label }}">Username:</label>#}
{#            {{ form.username }}#}
{#            </p>#}
{#            {{ form.password.errors }}#}
{#            <p>#}
{#            <label for="{{ form.password1.id_for_label }}">Password:</label>#}
{#            {{ form.password }}#}
{#            </p>#}

{#            <p>#}
{#            <label for="{{ form.password2.id_for_label }}">Confirm password:</label>#}
{#            {{ form.password2 }}#}
{#            </p>#}
{##}
{#            <p>#}
{#            {{ form.choice }}#}
{#            </p>#}
{##}
{#            {{ form.password.errors }}#}
{#            <p>#}
{#            <label for="{{ form.skills.id_for_label }}">Skills:</label>#}
{#            {{ form.password1 }}#}
{#            </p>#}
                {{ form.as_p }}
            <button type="submit">Sign up</button>
        </form>
    </body>
    </html>
{% endblock %}