{% extends "main.html" %}
{% block body %}
<html>
<body>
    {% for u in users %}
        {% for r in resumes %}
            {% if r.user_id == u.id %}
                {{ u.username }}
                {% if r.type == '1' %}
                    I'm a mentor
                {% endif %}
                {% if r.type == '2' %}
                    I'm a mentee
                {% endif %}
                {% if r.type == '3' %}
                    I've a startup, looking for a collaborator
                {% endif %}
                {{ r.text }}
            {% endif %}
        {% endfor %}
    {% endfor %}
</body>
</html>
{% endblock %}