{% extends "main.html" %}
{% block body %}
<html>
<body>
    <p><h2>{{ u.username }}</h2></p>
    {% if u.id == user.id %}
        <a href="{% url "createresume"%}">Create resume</a>
        <br>
    {% endif %}
    {% for r in resumes %}
        {% if r.type == '1' %}
            I'm a mentor
        {% endif %}
        {% if r.type == '2' %}
            I'm a mentee
        {% endif %}
        {% if r.type == '3' %}
            I've a startup, looking for a collaborator
        {% endif %}
        {% if r.type == '4' %}
            I'm looking for a project to join
        {% endif %}
       <br>
        {{ r.text }}
        <br>
        <a href="{% url "results" resume_id=r.id %}">Search</a>
        <br>

    {% endfor %}
</body>
</html>
{% endblock %}
