<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    {{ u.username }}
    {% if u.id == user.id %}
        <a href="{% url "createresume"%}">Create resume</a>
    {% endif %}
    {% for r in resumes %}
        {% if r.type == '1' %}
            Я менор
        {% endif %}
        {% if r.type == '2' %}
            Я ученик
        {% endif %}
        {% if r.type == '3' %}
            У меня есть стартап, ищу сокомандника
        {% endif %}
        {{ r.text }}
    {% endfor %}
</body>
</html>